# general
.DS_Store
node_modules
package-lock.json
yarn.lock
yarn-error.log

# mcqueen-icons
packages/mcqueen-icons/src/data.json
packages/mcqueen-icons/dist

# mcqueen-react
packages/mcqueen-react/dist

# mcqueen-scss
packages/mcqueen-scss/dist

# www
www/.next
