# general
.DS_Store
node_modules
package-lock.json
yarn.lock
yarn-error.log
tsconfig.tsbuildinfo

# mcqueen-icons
packages/mcqueen-icons/src
packages/mcqueen-icons/dist

# mcqueen-react
packages/mcqueen-react/dist

# mcqueen-scss
packages/mcqueen-scss/dist

# www
www/.next
