@font-face {
    font-family: 'Avenir';
    src: url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Black.eot');
    src: url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Black.woff2') format('woff2'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Black.woff') format('woff'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Heavy.eot');
    src: url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Heavy.woff2') format('woff2'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Heavy.woff') format('woff'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Heavy.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Book.eot');
    src: url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Book.woff2') format('woff2'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Book.woff') format('woff'),
        url('https://mcqueen-fonts.s3.eu-west-3.amazonaws.com/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
