@mixin tbody {
  td{
    @apply font-400 text-body-2 leading-body-2 text-black-300 text-left py-2 px-3 bg-white;
    vertical-align: top;
    white-space: normal;

    &:not(:first-child){
      @apply border;
    }
  }
}

@mixin thead {
  th, td{
    @apply font-700 text-body-2 leading-body-2 text-black text-left py-2 px-3 bg-purple-200;
    vertical-align: top;
    white-space: nowrap;

    &:not(:first-child){
      @apply border;
    }
  }
}

.longread{
  h1, h2, h3{
    @apply text-black;
  }

  h1 {
    @apply text-title-3m leading-title-3m font-700;
  }

  h2 {
    @apply text-title-4 leading-title-4 font-700 mt-5;
  }

  h3 {
    @apply text-title-5 leading-title-5 font-600 underline mt-4;
  }

  h4, h5, h6 {
    @apply font-600 underline;
  }

  table{
    @apply min-w-full p-0 overflow-x-auto border;

    // The first rows are theads
    tr:first-child {
      @include thead;
    }

    // If the table has a thead, then we cancel the first row rule
    thead + tbody tr:first-child {
      @include tbody;
    }

    thead tr{
      @apply border-b;
    }

    tbody tr{
      @include tbody;

      &:not(:last-child){
        @apply border-b;
      }
    }
  }

  ul,
  ol {
    @apply ml-4;
  }

  ul ul,
  ol ol {
    margin-left: 36px;
  }

  ul {
    @apply list-disc;
  }

  ul ul {
    list-style-type: circle;
  }

  ol {
    @apply list-decimal;
  }

  a{
    @apply text-blue;
  }

  img{
    @apply rounded;
  }

  & > p,
  & > div,
  & > table,
  & > img,
  & > ul,
  & > ol,
  & > figure {
    @apply my-3;
  }

  & > *:first-child{
    margin-top: 0;
  }
  & > *:last-child{
    margin-bottom: 0;
  }
}

@media screen and (min-width: theme('screens.small')){
  .longread{
    ul,
    ol {
      > li {
        padding-left: 12px;
      }
    }
  }
}

@media screen and (min-width: theme('screens.medium')){
  .longread{
    h1 {
      @apply text-title-3 leading-title-3;
    }
  }
}
