$margin: 8px;

.slick-slider{
  position: relative;

  .slick-list{
    overflow-x: hidden;

    .slick-track {
      display: flex!important;

      .slick-slide {
        &:not(:first-child){
          padding-left: $margin;
        }
        &:not(:last-child){
          padding-right: $margin;
        }
        & > div{
          height: 100%;
        }
      }
    }
  }

  .slick-arrow{
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 1;
    position: absolute;
    touch-action: manipulation;
    box-shadow: theme("boxShadow.default");
    border-radius: 50%;
    background: rgb(255, 255, 255);
    top: 50%;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 1.5rem;

    &.slick-disabled{
      display: none!important;
    }
    &.slick-prev{
      left: -20px;
    }
    &.slick-next{
      right: -20px + $margin;
    }
  }
}
