.alert {
  @apply flex text-body-3 leading-body-3 text-left text-white bg-gray font-600 rounded p-3;

  a {
    @apply underline cursor-pointer text-white;

    &:hover {
      @apply text-white;
      opacity: 0.7;
    }
  }

  &State{
    &Success{
      @apply bg-green;
    }
    &Caution{
      @apply bg-red;
    }
    &Warning{
      @apply bg-yellow-300 text-orange-500;

      a,
      a:hover {
        @apply text-orange-500;
      }
    }
    &Info{
      @apply bg-blue;
    }
  }
}

.text {
  @apply self-center;
}

.icon {
  @apply relative flex-none mr-2;
  fill: currentColor;
  top: -1px;
}
