.container{
  position: relative;
}

.suggestionsContainerOpen{
  display: block;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
  font-size: theme('fontSize.body-2');
  // padding: 16px;
  z-index: 30;
  max-height: 272px;
  overflow-y: auto;

  ul{
    padding-left: 0;
  }
}

.sectionContainer:not(:first-child){
  margin-top: 8px;
}

.sectionTitle{
  margin-bottom: 8px;
}

.suggestion{
  padding: 12px;
  cursor: pointer;
}

.suggestionHighlighted{
  background-color: theme('colors.gray.200');
}
