.checkbox {
  position: relative;
  display: flex;

  &VerticalAlignTop {
    align-items: flex-start;
  }

  &VerticalAlignCenter {
    align-items: center;
  }
}

.checkboxCheckedIcon, .checkboxIndeterminateIcon{
  display: none;
}

.input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 1px;
  height: 1px;

  &:focus ~ .checkboxContainer {
    box-shadow: 0 0 0px 4px theme("colors.gray.300");
  }
}

.checkboxContainer {
  width: 20px;
  height: 20px;
  border-radius: theme("borderRadius.default");
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;

  // Margin that makes the input appear decently aligned against
  // various Thumbprint <Text> sizes
  .checkboxVerticalAlignTop & {
    margin-top: 1px;
  }
}

.text {
  // This must take up the remaining available space for content that must be right-aligned.
  flex: 1 0 0%;
  // 'min-width' is needed to allow text within the checkbox to truncate.
  min-width: 0;
  font-size: theme("fontSize.body-2");
  font-weight: 400;
  padding-left: 8px;

  &State{
    &Error{
      color: theme('colors.red.default');
    }
  }
}

.input:not(:checked) {
  & ~ .checkboxContainer{
    color: inherit;
    border-color: theme('colors.gray.default');
    background-color: theme('colors.white');

    &State{
      &Error{
        color: theme('colors.red.default');
        border-color: theme('colors.red.default');
        background-color: theme('colors.white');
      }

      &Indeterminate{
        color: theme('colors.white');
        border-color: theme('colors.blue.default');
        background-color: theme('colors.blue.default');

        & > .checkboxIndeterminateIcon{
          display: block;
        }
      }
    }
  }
}

.input:checked {
  & ~ .checkboxContainer{
    color: theme('colors.white');
    border-color: theme('colors.blue.default');
    background-color: theme('colors.blue.default');

    .checkboxCheckedIcon{
      display: block;
    }

    &State{
      &Error{
        color: theme('colors.white');
        border-color: theme('colors.red.default');
        background-color: theme('colors.red.default');
      }
    }
  }
}

.input:disabled{
  & ~ .checkboxContainer{
    color: #99ACC2!important;
    border-color: theme('colors.gray.default')!important;
    background-color: theme('colors.gray.300')!important;
  }

  & ~ .text{
    color: #7C98B6;
  }
}
