.message {
  @apply bg-white rounded overflow-hidden p-3;

  &Position{
    &Top{
      @apply border-l border-r border-b;
      border-top: 6px solid transparent;
      &.messageState{
        &Success{
          border-top-color: theme('colors.green.default');
        }
        &Caution{
          border-top-color: theme('colors.red.default');
        }
        &Warning{
          border-top-color: theme('colors.orange.default');
        }
        &Info{
          border-top-color: theme('colors.blue.default');
        }
      }
    }
    &Right{
      @apply border-l border-t border-b;
      border-right: 6px solid transparent;
      &.messageState{
        &Success{
          border-right-color: theme('colors.green.default');
        }
        &Caution{
          border-right-color: theme('colors.red.default');
        }
        &Warning{
          border-right-color: theme('colors.orange.default');
        }
        &Info{
          border-right-color: theme('colors.blue.default');
        }
      }
    }
    &Bottom{
      @apply border-l border-r border-t;
      border-bottom: 6px solid transparent;
      &.messageState{
        &Success{
          border-bottom-color: theme('colors.green.default');
        }
        &Caution{
          border-bottom-color: theme('colors.red.default');
        }
        &Warning{
          border-bottom-color: theme('colors.orange.default');
        }
        &Info{
          border-bottom-color: theme('colors.blue.default');
        }
      }
    }
    &Left{
      @apply border-t border-r border-b;
      border-left: 6px solid transparent;
      &.messageState{
        &Success{
          border-left-color: theme('colors.green.default');
        }
        &Caution{
          border-left-color: theme('colors.red.default');
        }
        &Warning{
          border-left-color: theme('colors.orange.default');
        }
        &Info{
          border-left-color: theme('colors.blue.default');
        }
      }
    }
  }
}
