$border-width: 8px;

.messageBorder{
  @apply absolute z-1;
}

.messageContent{
  @apply p-3;
}

.message {
  @apply relative bg-white overflow-hidden border rounded;

  &State{
    &Success{
      .messageBorder{
        @apply bg-green;
      }
    }
    &Caution{
      .messageBorder{
        @apply bg-red;
      }
    }
    &Warning{
      .messageBorder{
        @apply bg-orange;
      }
    }
    &Info{
      .messageBorder{
        @apply bg-blue;
      }
    }
  }

  &Position{
    &Top{
      padding-top: $border-width;

      .messageBorder{
        @apply top-0 left-0 right-0;
        height: $border-width;
      }
    }
    &Right{
      padding-right: $border-width;

      .messageBorder{
        @apply top-0 right-0 bottom-0;
        width: $border-width;
      }
    }
    &Bottom{
      padding-bottom: $border-width;

      .messageBorder{
        @apply right-0 bottom-0 left-0;
        height: $border-width;
      }
    }
    &Left{
      padding-left: $border-width;

      .messageBorder{
        @apply bottom-0 left-0 top-0;
        width: $border-width;
      }
    }
  }
}

@media screen and (min-width: theme('screens.small')){
  .messageContent {
    @apply p-4;
  }
}
