$border-width: 8px;

.border{
  @apply absolute z-1;
}

.message {
  @apply relative bg-white overflow-hidden p-3 border rounded;

  &State{
    &Success{
      .border{
        @apply bg-green;
      }
    }
    &Caution{
      .border{
        @apply bg-red;
      }
    }
    &Warning{
      .border{
        @apply bg-orange;
      }
    }
    &Info{
      .border{
        @apply bg-blue;
      }
    }
  }

  &Position{
    &Top{
      .border{
        @apply top-0 left-0 right-0;
        height: $border-width;
      }
    }
    &Right{
      .border{
        @apply top-0 right-0 bottom-0;
        width: $border-width;
      }
    }
    &Bottom{
      .border{
        @apply right-0 bottom-0 left-0;
        height: $border-width;
      }
    }
    &Left{
      .border{
        @apply bottom-0 left-0 top-0;
        width: $border-width;
      }
    }
  }
}


@media screen and (min-width: theme('screens.small')){
  .message {
    @apply p-4;
  }
}
