.link{
  @apply my-0 mx-1 font-600 text-blue flex items-center justify-center rounded text-body-3 leading-body-3 border border-transparent cursor-pointer;
  padding: 14px 10px;
  line-height: 0.5;

  &.disabled{
    @apply cursor-default text-gray;

    &:hover{
      background-color: transparent!important;
    }
  }

  &.active{
    @apply border-blue bg-blue-200 cursor-default;
  }

  &:hover{
    @apply bg-blue-200;
  }
}
