.pill{
  @apply rounded-circle bg-gray-300 text-black inline-block font-600 overflow-hidden;

  &Size{
    &Small{
      @apply text-body-4 leading-body-4;
      padding: 4px 10px;
    }
    &Medium{
      @apply text-body-2 leading-body-2;
      padding: 6px 12px;
    }
    &Large{
      @apply text-body-1 leading-body-1;
      padding: 8px 14px;
    }
  }

  &Color{
    &Blue {
      @apply bg-blue-200 text-blue-500;
    }
    &Purple {
      @apply bg-purple-200 text-purple-500;
    }
    &Green {
      @apply bg-green-200 text-green-500;
    }
    &Pink {
      @apply bg-pink-200 text-pink-500;
    }
    &Yellow {
      @apply bg-yellow-200 text-yellow-500;
    }
    &Red {
      @apply bg-red-200 text-red-500;
    }
    &Orange {
      @apply bg-red-200 text-red-500;
    }
  }
}
