// Interactive rating.
.inputWrap {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.input {
  visibility: hidden;
}

.label {
  flex: 1;
  cursor: pointer;
  // Pushes label text out of view
  text-indent: 100%;
  overflow: hidden;
}
