.text{
  &Position{
    &Left{
      margin-right: 4px;
      color: theme("colors.yellow.default");
      font-weight: 700;
    }
    &Right{
      margin-left: 4px;
      color: theme("colors.black.300");
      font-weight: 600;
    }
  }
  &Size{
    &Small {
      font-size: theme('fontSize.body-4');
    }
    &Medium {
      font-size: theme('fontSize.body-2');
    }
    &Large {
      font-size: theme('fontSize.body-1');
      line-height: theme('fontSize.body-1');
    }
  }
}
