.avatar {
  position: relative;
  font-weight: 700;

  &Size{
    &Xsmall {
      font-size: theme("fontSize.title-8");
    }
    &Small {
      font-size: theme("fontSize.title-5");
    }
    &Medium {
      font-size: theme("fontSize.title-3");
    }
    &Large {
      font-size: theme("fontSize.title-2");
    }
    &Xlarge {
      font-size: theme("fontSize.title-1");
    }
  }
}

.initials {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: initial;
  font-weight: 700;
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 4px;
}
